body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

body{background:#eee;}
#container{width:800px;margin:auto;background:#fff;padding:10px;}
#logo h1{color:orange;}
#menu{background:#eee;}
#menu p{font-size: 15px;}

/*.headtable{background:#CFB281;border-bottom: 2px solid #AF976D;}*/
.rowlight{background:#FFF9EF;}
.rowdark{background:#fff;}

.no_confirm{color:red;}
.vip{color:orange;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

